@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model InternalBookingApp.Models.Entities.Resource
@using System.Linq

<h1>@Model.Name</h1>
@if (Model.Bookings != null && Model.Bookings.Any())
{
    <h4>Upcoming Bookings</h4>
    <ul>
        @foreach (var booking in Model.Bookings.OrderBy(b => b.StartTime))
        {
            <li>
                <strong>@booking.StartTime - @booking.EndTime:</strong> @booking.Purpose (@booking.BookedBy)
            </li>
        }
    </ul>
}
else
{
    <p>No upcoming bookings for this resource.</p>
}


<div class="mb-4">
    <h4>Resource Details</h4>
    <dl class="row">
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Description</dd>

        <dt class="col-sm-3">Location</dt>
        <dd class="col-sm-9">@Model.Location</dd>

        <dt class="col-sm-3">Capacity</dt>
        <dd class="col-sm-9">@Model.Capacity</dd>

        <dt class="col-sm-3">Is Available</dt>
        <dd class="col-sm-9">@Model.IsAvailable</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
<a asp-action="List">Back to List</a>